################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.db-shm
*.db-wal
/BudgetOnline/BudgetOnline.Api/BudgetOnline.db
